<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>対局開始</title>
  <link rel="stylesheet" href="/static/css/game.css">
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
</head>

<body>
  <h1>{{username}}</h1>
  <p>まずは、オンライン対戦実現</p>
  <p>反則手を指した後、2回クリックしないと駒判定がなくならないのを修正したい</p>
  <p>連続王手の千日手などを考慮したい</p>
  <p>一旦は部屋作成者を先手にするが、将来的には選ぶ、およびランダムにしたい</p>

  <div id="board-container">
    <div id="white-captures" class="captures"></div>
    <div id="shogi-board"></div>
    <div id="black-captures" class="captures"></div>
  </div>

  <script>
    const room_number = "{{room_number}}"; // createrはblack、joinerはwhite
    const initial_turn = "{{turn}}";
  </script>
  <script src="/static/js/game.js"></script>
</body>

</html>