<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Web将棋--ログイン</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
</head>

<body>
    <p id="alert" style="color: red;"></p>
    <label>ユーザー名:</label><input id="username" name="username"><br>
    <label>パスワード:</label><input id="password" name="password" type="password">
    <button type="submit" onclick="login()">ログイン</button>
    <script src="/static/js/index.js"></script>
</body>

</html>